doctype html
// [if gt IE 8] <!
html.no-js
  // <![endif]
  head
    meta(charset='utf-8')
    title Eye
    link(href='http://fonts.googleapis.com/css?family=Nova+Round', rel='stylesheet', type='text/css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous")
    link(rel='stylesheet', href='/style.css')
    link(rel='stylesheet', href='/eye/screen.css')

    script(src='scripts/lib/modernizr-2.6.2.min.js')
  body
    //if lt IE 7
    section#top
      h1 The eye
      #pupil2
        img#pupil_label(src='/eye/images/pupil_label.png')
      #cornea
        img#cornea_label(src='/eye/images/cornea_label.png')
      #fovea
        img#fovea_label(src='/eye/images/fovea_label.png')
      #cillary_muscle
        img#cillary_muscle_label(src='/eye/images/cillary_muscle_label.png')
      #lens
        img#lens_label(src='/eye/images/lens_label.png')
      #conjunctiva
        img#conjunctiva_label(src='/eye/images/conjunctiva_label.png')
    section#info
      div
        h1 The eye is a sense organ that responds to light
        h2(style='color:#ff4e40;') Cornea
        p 	Refracts light - bends it as it enters the eye 
        h2(style='color:#149dcc;') Iris
        p  Controls how much light enters the pupil 
        h2(style='color:#00ffb5;')  Lens
        p  Focuses light onto the retina 
    section#about
      div
        h1 More info
    
    section#comments
      .card.card-block
            h5 Comments
            hr
            each comment in comments
              .card.card-block
                .col-xs-12.col-md-8
                  p= comment.content
                  p= comment.id
                  p= comment.PostId

      .card.card-block
        h5 Add a comment:
        form(action="/posts/" + post.id + "/comments", method='POST')
          input(type='hidden' name='PostId' value="post.id" .form-group)
          textarea.form-control(rows='5', name='content' value=post.id .form-group)
          button.btn.btn-success(type='submit') Add comment
    
    // End Site Content
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script.
      window.jQuery || document.write('<script src="scripts/lib/jquery-1.9.1.min.js"><\\/script>')
    script(src='/eye/scripts/oakley.js')
