html
  head
    title Science Motion
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous")
    link(rel="stylesheet" href="" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous")
    link(rel='stylesheet', href='/css/skel.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/style-wide.css')
    link(rel='stylesheet', href='/css/style-normal.css')
    link(rel='apple-touch-icon', sizes='57x57', href='/images/favicons/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/images/favicons/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/images/favicons/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/images/favicons/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/images/favicons/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/images/favicons/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/images/favicons/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/images/favicons/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/images/favicons/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='/images/favicons/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/images/favicons/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='/images/favicons/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/images/favicons/favicon-16x16.png')
    link(rel='manifest', href='/manifest.json')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')  
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='description', content='')
    meta(name='keywords', content='')
    script(src='/public/js/jquery.min.js')
    script(src='/public/js/jquery.poptrox.min.js')
    script(src='/public/js/jquery.scrolly.min.js')
    script(src='/public/js/jquery.scrollex.min.js')
    script(src='/public/js/skel.min.js')
    script(src='/public/js/init.js')

  body
    //- img(href='/images/favicons/apple-icon-57x57.png')
    nav(class="navbar navbar-light bg-faded")
      a(class="navbar-brand btn btn-default" href="/") Home
      if user
        a(href="/logout" style="margin-left:5px" class="btn btn-primary float-xs-right") Logout
        a(href="/admin/posts/new" style="margin-left:5px" class="btn btn-info float-xs-right") Create new post
        //- a(href="/admin/posts" style="margin-left:5px" class="btn btn-success float-xs-right") Admin panel
        a(href="/admin/profile" style="margin-left:5px" class="btn btn-success float-xs-right") My profile
        //- a(href="/admin/my-posts" style="margin-left:5px" class="btn btn-warning float-xs-right") My posts
        p(class="navbar-brand") Welcome back, #{user.name}!

      else
        a(href="/register" style="margin-left:5px" class="btn btn-primary float-xs-right") Register an account
        a(href="/login" style="margin-left:5px" class="btn btn-success float-xs-right") Login
        a(href="/lessons" style="margin-left:5px" class="btn btn-warning float-xs-right") View lessons


    block content
    script(src='/js/jquery.min.js')
    script(src='/js/jquery.poptrox.min.js')
    script(src='/js/jquery.scrolly.min.js')
    script(src='/js/jquery.scrollex.min.js')
    script(src='/js/skel.min.js')
    script(src='/js/init.js')
