extends ./application.pug

block content
  .container
    .row
      .col-xs-8.offset-xs-2
        h1 Change password
        hr
        form(action="/change-password/" + user.passwordResetToken method="POST")
          div(class="form-group")
            label(for="password") Password
            input(name="password" type="password" class="form-control" id="password")
          div(class="form-group text-xs-right")
            button(type="submit" class="btn btn-lg btn-success") Submit
